html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url("https://img.freepik.com/free-photo/pouch-map-toy-airplane-blue-background-with-space-writing-text_23-2147958180.jpg?w=1380&t=st=1689444810~exp=1689445410~hmac=837d82dae64c768ebb5986fd6183c02a30d91323ea5205a551d7cc997f0950e8%22");
}
body {
  margin-bottom: 60px;
}
